# Discord OAuth2
DISCORD_CLIENT_ID=1478367881103151307
DISCORD_CLIENT_SECRET=veHR4ZsWfCvOBmTJsfMBLHMgfSH9jpVk

# NextAuth
NEXTAUTH_SECRET=b5SKikTFcEzlu5bO0qoUneiaeX8PtLnj
NEXTAUTH_URL=http://localhost:3000

# Discord Bot
DISCORD_BOT_TOKEN=https://discord.com/api/webhooks/1478369441921368134/KrJGexkY5Pj9oXfPv6VRbqXV0KqI4bt_MytLVlf5hpqrCUAEFn0__Ff3k_23hvLNDqYl
DISCORD_CHANNEL_ID=1478369397096714300

# MongoDB
MONGODB_URI=mongodb+srv://padure:davidcozmin2000.@site-teste.2qufayc.mongodb.net/?appName=site-teste
